.barbers{
    list-style: none;
    margin-bottom: 1rem;
}

.barbers li{
    margin-bottom: 1.2rem;
}

.barbers li p{
    margin: 0;
}

.locations{
    padding: 0.4rem;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}